
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

body {
  font-family: helvetica, arial,  sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  margin: 0;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

h1,
h2,
h3,
h4,
.site-name,
.site-slogan,
#main-menu a,
.links a {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  text-transform: uppercase;
}

h1 {
  display: block;
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 15px;
  width: 100%;
}

h2 {
  display: block;
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 15px;
  width: 100%;
}

h2.element-invisible {
  width: 1px;
}

h1 small,
h2 small {
  color: #444;
  display: block;
  font-size: 40%;
  font-weight: normal;
  line-height: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 2px #999;
}

a:hover {
  color: #990000;
  text-decoration: none;
}

a:active,
li a.active {
  color: #990000;
}

header,
footer,
#container {
  min-height: 100%;
  padding: 20px 0;
  width: 100%;
}

header,
footer {
  color: #000;
  min-height: 50px;
  text-shadow: 1px 1px #999;
}

header {
  padding: 20px 0;
  text-align: left;
}

#logo img {
  display:inline-block;
  margin-right: 4.1666%;
  max-width: 35%;
}

.site-name {
  display: block;
}

.divider {
  border-bottom: 1px solid #a6a6a6;
  border-top: 1px solid #eee;
  display: block;
  height: 0px;
  width: 100%;
}

.site-slogan {
  display: block;
}

nav {
  display: inline-block;
  margin-top: 30px;
  max-width: 55%;
  padding: 5px 0;
  vertical-align: top;
}

nav a {
  color: #000;
  font-family: helvetica, arial,  sans-serif;
  font-size: 1.3em;
}

nav li {
  border-right: 1px solid #eee;
  box-shadow: 1px 0px 0px 0px #d6d6d6;
  -moz-box-shadow: 1px 0px 0px 0px #d6d6d6;
  -webkit-box-shadow: 1px 0px 0px 0px #d6d6d6;
}

nav li.first {
  padding-left: 0px !important;
}

nav li.last {
  border: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.tabs ul.primary {
  line-height: 1.5em;
  white-space: normal;
}

#container {
  font-size: .9em;
}

.inner {
  display: block;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 1.0638%;
  width: 97.8724%;
}

ul.inline li {
  padding: 5px 0.5em 0 0.5em;
}

ul.inline li.node-readmore {
  padding: 0;
  right: 0;
}

/* No Sidebars */

.no-sidebars aside {
  width: 0px;
}

.no-sidebars article {
  width: 100%;
}

/* Single sidebar */
.left-sidebar aside.region-sidebar-left,
.right-sidebar aside.region-sidebar-right {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  width: 31.914%;
}

.right-sidebar aside.region-sidebar-right {
  margin-left: 1.5957%;
}

.left-sidebar aside.region-sidebar-left {
  margin-right: 1.5957%;
}

.left-sidebar article,
.right-sidebar article {
  display: inline-block;
  vertical-align: top;
  width: 65.957%;
}

/* Double Sidebar */

.double-sidebar aside.region-sidebar-left {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  width: 14.8936%;
}

.double-sidebar aside.region-sidebar-right {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  width: 31.914%;
}

.double-sidebar aside.region-sidebar-right {
  margin-left: 1.5957%;
}

.double-sidebar aside.region-sidebar-left {
  margin-right: 1.5957%;
}

.double-sidebar article {
  display: inline-block;
  vertical-align: top;
  width: 48.9361%;
}


article img {
  max-width: 51.6129%;
}

section {
  border-bottom: 1px solid #a6a6a6;
  box-shadow: 0px 1px 0px 0px #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -moz-box-shadow: 0px 1px 0px 0px #eee;
  -webkit-box-shadow: 0px 1px 0px 0px #eee;
}

article img {
  margin: 0 10px 10px 0;
}

/*Taxonomy*/

.field-type-taxonomy-term-reference {
  display: block;
  font-family: helvetica, Arial, sans-serif;
  margin: 3px 0 0;
  text-transform: uppercase;
  width: 100%;
}

.field-type-taxonomy-term-reference .field-item {
  float: left; /* LTR */
  margin-bottom: 5px;
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}

.field-type-taxonomy-term-reference .field-items {
  display: inline-block;
  width: 75%;
}

.field-type-taxonomy-term-reference .field-item a {
  background: #eee;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d6d6d6;
  color: #888;
  display: inline-block;
  font-size: .8em;
  font-weight: normal;
  padding: 2px 5px;
  text-decoration: none;
  -moz-border-radius: 5px;
  -moz-box-shadow: 1px 1px 2px #d6d6d6;
  -webkit-box-shadow: 1px 1px 2px #d6d6d6;
  -webkit-border-radius: 5px;
}

.field-type-taxonomy-term-reference .field-item a:hover {
  background: #bababa;
  color: #4f4f4f;
}

.field-type-taxonomy-term-reference .field-label {
  background: #000;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d6d6d6;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  font-weight: normal;
  margin-right: 7px;
  max-width: 15%;
  padding: 3px 5px;
  vertical-align: top;
  -moz-border-radius: 5px;
  -moz-box-shadow: 1px 1px 2px #d6d6d6;
  -webkit-box-shadow: 1px 1px 2px #d6d6d6;
  -webkit-border-radius: 5px;
}

/*Misc*/

.links {
  display: block !important;
  text-align: right;
}

.links a {

}

/*Form Stuff*/

.form-item {
  max-width: 100%;
  padding-bottom: 1em;
}

.form-item label {
  display: inline-block;
  width: 30%;
}

.form-item input {
  display: inline;
  margin-top: 0;
  width: 66%;
}

.form-item .form-textarea-wrapper {
  display: inline;
  margin-top: 0;
  width: 100%;
}

.form-item .form-textarea-wrapper textarea {
  max-width: 100%;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-type-checkbox {
  clear: both;
  padding-top: 2em;
}

.form-type-checkbox input {
  float: none;
}

.form-item .form-checkbox {
  width: auto;
}

/* Overlay Content */

#overlay-content header,
#overlay-content footer {
  display: none;
}

@media screen and (max-width: 768px) {
  header #logo img {
    max-width: 100%;
    padding: 0;
  }

  header,
  nav {

  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1em;
  }

  header,
  footer,
  #container {
    max-width: 100%;
    min-width: 300px;
  }

  header {
    margin: 0;
    min-height: 20px;
    padding: 20px 0 0;
  }

  #site-name {
    width: 90%;
  }

  nav {
    display: block;
    margin: 0;
    padding: 0;
  }

  nav a {
    font-size: 1em;
  }

  .inner {
    margin: 0 auto;
    width: 95%;
  }

  .left-sidebar aside.region-sidebar-left,
  .right-sidebar aside.region-sidebar-right,
  .double-sidebar aside.region-sidebar-left,
  .double-sidebar aside.region-sidebar-right {
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
  }

  .left-sidebar article,
  .right-sidebar article,
  .double-sidebar article {
    display: block;
    width: 100%;
  }

  article img {
    display: block;
    min-width: 100%;
  }

  /* Pager Display */

  .item-list ul.pager {
    text-align: center;
  }

  .item-list .pager li.pager-first,
  .item-list .pager li.pager-last,
  .item-list .pager li.pager-item,
  .item-list .pager li.pager-current {
    display: none;
  }

} /* end min-width 480px media query */
